/* Body styles */
body {
    padding-left: 250px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #80007e;
    background-color: #d8da3d;
}

/* Sidebar styles */
ul.sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 20px;
    width: 190px;
}

/* Heading 1 styles */
h1 {
    font-family: Helvetica, Arial, sans-serif;
}

/* Sidebar list item styles */
ul.sidebar li {
    background: white;
    margin: 8px 0;
    padding: 5px;
    border-right: 15px solid black;
}

/* Address styles */
address {
    margin-top: 50px;
    padding-top: 20px;
    border-top: thin dotted;
}
